/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

# Keep dist-js for package distribution
dist-js

# Example builds
examples/*/dist
examples/*/target
examples/*/src-tauri/target
examples/*/node_modules

